body {
    background-color: #131313;
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 0px;
}
.logo img{
    height: 40px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 40px;
}
/* .nav-links a:hover {
    background-color: #B76E22;
    border: solid 1px white;
    border-radius: 10px;
    padding: 5px;
    
} */
.nav-links a{
    position:relative  /*Check this in the position chapter. Needs correctio*/

}

.nav-links a{
    color: white;
    text-decoration: none;
}

.button {
    background-color: #B76E22;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-wrapper {
    display: flex;
    gap: 15px;
}

.belowheader{
    display: flex;
    justify-content: space-between;
}
.belowheader .nowshowing{
    color: white;
    margin-left: 40px;
    padding: 20px;
}

.belowheader .language {
    color: white;
    margin-top: 50px;
    margin-right: 40px;
    
} 
.belowheader .language select{
    color: #131313;
}

.trailers .cards{
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.trailers .cards img{
    width: 200px;
    height: 250px;
    padding: 20px;
    
}

.trailers .cards :hover{
    width: 200px;
    height: 250px;
    padding: 20px;
    cursor: pointer;
}

